.topnav {
    grid-area: hd;
    background-color: #333;
    overflow: hidden;
    }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    border-right: 1px solid #bbb;
    text-align: center;
    padding: 14px 97.8px;
    text-decoration: none;
    font-size: 18px;
    font-family: Sitka Banner Semibold;
    }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

.topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  body {
        grid-area: Main;
    b ackground-color: #8a7777;
    f ont-family: Sitka Banner Semibold;
    b order: #F29E16;
    background-color: #8a7777;
    ma rgin-left: 0px;
    m argin-right: 0px;
    text-ali gn: center;
    f ont-family: Sitka Banner Semibold;
    m argin-left: 158px;
    }
    
  s vg.selectAll {
    grid-area: Main;
    background-position: center;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgb(25, 144, 174); 
   }
  
   svg {
    grid-area: Main;
    b ackground-position: right;
    margin-left: 158px;
    margin-right: 0px;
    border: #F29E16;
    background-color: rgb(25, 144, 174);
    text-align: center;
    font-family: Sitka Banner Semibold;
    b ackground-size: 300px;    m argin-left: 30px;
m argin-right: 30px;
    m argin-left: 300px;
    }  
    
h3  { 
    grid-area: Main;           
    font-family: Sitka Banner Semibold;;
                  color: #0c0c0c;
                  word-spacing: 1091px;   
                  margin-bottom: 0px;
             margin-top: 0px;
             margin-right: 144px;
             margin-left: 158px;
             background-color: rgb(25, 144, 174);
             text-align: center;
    }

     h1 {  grid-area: Main;           
        font-family: Sitka Banner Semibold;;
                      color: #0c0c0c;
                      word-spacing: 8px;
                      margin-bottom: 0px;
                 margin-top: 76px;
                 margin-right: 144px;
                 margin-left: 158px;
                 background-color: rgb(25, 144, 174);
                 text-align: center;
    }

    h 2 {  grid-area: Main;           
        font-family: Sitka Banner Semibold;;
                      color: #0c0c0c;
                      word-spacing: 8px;
                      margin-bottom: 0px;
                 margin-top: 76px;
                 margin-right: 162px;
                 margin-left: 158px;
                 background-color: rgb(25, 144, 174);
                 text-align: center;
    }

    h 1 a {  grid-area: Main;           
        font-family: Sitka Banner Semibold;;
                      color: #0c0c0c;
                      word-spacing: 8px;
                      margin-bottom: 0px;
                 margin-top: 76px;
                 margin-right: 162px;
                 margin-left: 158px;
                 background-color: rgb(25, 144, 174);
                 text-align: center;
    }

    h 6 {
            grid-area: Main;           
            font-family: Sitka Banner Semibold;;
                          color: #0c0c0c;
                          word-spacing: 8px;
                          margin-bottom: 0px;
                     margin-top: 0px;
                     margin-right: -162px;
                     margin-left: 158px;
                     background-color: rgb(25, 144, 174);
                     text-align: left;
        }

       (p a)  { 
          grid-area: Main;           
          font-family: Sitka Banner Semibold;;
                        color: #0c0c0c;
                        word-spacing: 1200px;
                        margin-bottom: 0px;
                   margin-top: 0px;
                   margin-right: 162px;
                   margin-left: 158px;
                   background-color: rgb(25, 144, 174);
                   text-align: left;
          }

        p {
          grid-area: Main;           
          font-family: Sitka Banner Semibold;;
                        color: #0c0c0c;
                        word-spacing: 1045px;
                        margin-bottom: 0px;
                   margin-top: 0px;
                   margin-right: 144px;
                   margin-left: 158px;
                   background-color: rgb(25, 144, 174);
                   text-align: right;
        }

        h 6 {
          grid-area: Main;           
          font-family: Sitka Banner Semibold;;
                        color: #0c0c0c;
                        word-spacing: 0px;
                        margin-bottom: 0px;
                   margin-top: 0px;
                   margin-right: 1660px;
                   margin-left: 0px;
                   background-color: rgb(25, 144, 174);
                   text-align: right;
        }

    .awrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows:minmax(100px, 1fr);
    grid-template-areas:
      "hd hd hd hd hd hd hd hd hd"
      "Main Main Main Main Main Main Main Main Main"
      "Main Main Main Main Main Main Main Main Main"
      "Main Main Main Main Main Main Main Main Main"
      "Main Main Main Main Main Main Main Main Main"
      "Main Main Main Main Main Main Main Main Main"
      "Main Main Main Main Main Main Main Main Main"
      "Main Main Main Main Main Main Main Main Main"
      "Main Main Main Main Main Main Main Main Main"
      "Main Main Main Main Main Main Main Main Main"
      "Main Main Main Main Main Main Main Main Main"
      "ft ft ft ft ft ft ft ft ft";
    }   

    footer {
        grid-area: ft;   
         padding: 6px;
         background-color: rgb(25, 144, 174);
         color: rgba(193, 215, 156, 0.292);
         text-align: right;
         font-family: Sitka Banner Semibold;
       }    
    
       

          
