svg {
    g rid-area: Main;
    b ackground-position: right;
    m argin-left: 158px;
    m argin-right: 0px;
    b order: #F29E16;
    background-color: rgb(175, 189, 46);
    t ext-align: center;
    f ont-family: Sitka Banner Semibold;
    b ackground-size: 300px;    m argin-left: 30px;
m argin-right: 30px;
    m argin-left: 300px;
    }  
 
      .yAxis path {
        stroke: #B8B8B8;
      }
    t itle {
        font-size: 12px;
        font-family: Sitka Banner Semibold;
color:rgb(175, 189, 46);
    }

       text {
        font-size: 16px;
        font-family: Sitka Banner Semibold;
color:blanchedalmond;
    }
    t itle {
        f ont: 6px;
        font-family: Sitka Banner Semibold;
color:blanchedalmond;
    }
    
    . y Axis {
stroke:blanchedalmond; 
color:blanchedalmond;

    }
    t itle {
        font-size: 1px;
        font-family: Sitka Banner Semibold;
color:blanchedalmond;
    }
    g {
        stroke:blanchedalmond; 
        color:rgb(173, 130, 65);
                    }
            t ext a {
                font-size: 6px;
                font-family: Sitka Banner Semibold;
        color:rgb(213, 155, 68);
            }
            text {
                font-size: 20px;
                font-family: Sitka Banner Semibold;
        color:rgb(213, 155, 68);
            }

            text  {
                font-size: 20px;
                font-family: Sitka Banner Semibold;
        color:rgb(213, 155, 68);
            }
            t ext {
                font-size: 20px;
                font-family: Sitka Banner Semibold;
        color:rgb(213, 155, 68);
            }
            a.yAxis {
                stroke: #ff8b8b;
            }