.topnav {
    grid-area: hd;
    background-color: #333;
    overflow: hidden;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    border-right: 1px solid #bbb;
    text-align: center;
    padding: 14px 90.3px;
    margin-top: 0px;
    text-decoration: none;
    font-size: 24px;
    font-family: Sitka Banner Semibold;
    }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  body {
    grid-area: Main;
    background-color: #8a7777;
    font-family: Sitka Banner Semibold;
    }
    h1 { grid-area: Main;           
font-family: Sitka Banner Semibold;;
              color: #0c0c0c;
              word-spacing: 8px;
              text-align: center;
              margin-bottom: 0px;
         margin-top: 8px;
         margin-right: 0px;
         margin-left: 0px;
              }
              h3 { 
        grid-area: Main; 
       font-family: Sitka Banner Semibold;
         color: rgb(255, 255, 255);
         word-spacing: 0px;
         text-align: center;
         font-size: 28px;
         margin-bottom: 0px;
         margin-top: 0px;
         margin-right: 0px;
         margin-left: 0px;
              }
              a { grid-area: Main;
       font-family: Sitka Banner Semibold;
         color: rgb(255, 161, 253);
         word-spacing: 0px;
         text-align: center;
         font-size: 28px;
         padding-left: 300px;
         margin-bottom: 0px;
         margin-top: 0px;
         margin-right: 0px;
         margin-left: 0px;
         }
         b { grid-area: Main;
       font-family: font-family: Sitka Banner Semibold;
         color: rgb(255, 163, 163);
         word-spacing: 0px;
         text-align: center;
         font-size: 28px;
         padding-left: 69px;
         margin-bottom: 0px;
         margin-top: 0px;
         margin-left: 0px;
        margin-right: 0px;
         }
         p { grid-area: Main;
       font-family: Sitka Banner Semibold;
         color: rgb(249, 255, 81);
         word-spacing: 0px;
         text-align: left;
         font-size: 28px;
         padding-right: 300px;
         margin-bottom: 0px;
         margin-top: 0px;
         margin-left: 0px;
        margin-right: 0px;
         }
        h6 { grid-area: Main;
       font-family: Sitka Banner Semibold;
         color: rgb(98, 247, 81); 
         word-spacing: 0px;
         text-align: right;
         font-size: 28px;
         padding-right: 55px;
         margin-bottom: 0px;
         margin-top: 0px;
         margin-left: 0px;
        margin-right: 0px;
         }
         h 4.d  { 
        grid-area: hd;
       font-family: Segoe UI historic;
         color: black;
         text-align: right;
       }
             
.wrapper {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
grid-auto-rows:minmax(100px, 1fr);
grid-template-areas:
  "hd hd hd hd hd hd hd hd hd"
  "Main Main Main Main Main Main Main Main Main"
  "Main Main Main Main Main Main Main Main Main"
  "Main Main Main Main Main Main Main Main Main"
  "Main Main Main Main Main Main Main Main Main"
  "Main Main Main Main Main Main Main Main Main"
  "Main Main Main Main Main Main Main Main Main"
  "Main Main Main Main Main Main Main Main Main"
  "Main Main Main Main Main Main Main Main Main"
  "Main Main Main Main Main Main Main Main Main"
  "Main Main Main Main Main Main Main Main Main"
  "ft ft ft ft ft ft ft ft ft";
}         

footer {
    grid-area: ft;   
     padding: 6px;
     background-color: rgb(25, 144, 174);
     color: rgba(193, 215, 156, 0.292);
     text-align: right;
     font-family: Sitka Banner Semibold;
     margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -8px;
   }    